.chat-main
  .group-info
    .left-group-box
      %p.left-group-box__current-group
        =@group.name

      %ul.left-group-box__member-list
        Member :  
        %li.left-group-box__members
          - @group.group_users.each do|group_user|
            = group_user.user.name

    .right-edit-box
      = link_to edit_group_path(@group),class:'right-edit-box__btn' do
        .right-edit-box__btn
          Edit

  .message-list
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
  